dialog {
	background-color: darkgreen;
	border: 0ch;
	border-radius: 5%;
}

#content {
	padding: 0 5%;
	
}

nav {
	background-color: #861949;
	padding: 1%;
}

nav > a {	
	color: wheat;
}

nav > a:hover {
	color: whitesmoke;
	text-decoration: none;
}

#advice {
	background-color: lightgray; 
	padding: 2%; 
	margin-top: 10%;
	border-radius: 10px;
}

body {
	background-color: #7c0932;
}

.container {
	animation: fadein 3s;
}

@keyframes fadein {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

#logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	align-items: center;
	height: 100px;
	width: 100px;
	margin: 2% auto;
	border-radius: 50%;
}
