dialog {
	background-color: darkgreen;
	border: 0ch;
	border-radius: 5%;
}

#content {
	padding: 0 5%;
	
}

#advice {
	background-color: lightgray; 
	padding: 5px; 
	margin: 5px;
}

/* #advice:hover {
	background-color: #999999;
} */

body {
	background-color: #999999;
}

.container {
	animation: fadein 3s;
}

@keyframes fadein {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

#logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	align-items: center;
	height: 100px;
	width: 100px;
	margin: 2% auto;
	border-radius: 50%;
}
