<!DOCTYPE html>
<html>

<head>
	<link href="./src/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<link href="./src/css/application.css" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
</head>

<body>
	<div class="container" style="margin-top:5%">


		<div id="validation">
			<div class="row justify-content-center">
				<dialog open class="col-12 col-md-8 col-lg-6 pb-5">
				<div id="content">
          			<img id="logo" src="./src/images/logo.jpg" alt="logo">

					<form action="index.html">
						<div class="card border-success">
							<div class="card-header p-0">
								<div class="bg-success text-white text-center py-2">
									<h3> Login </h3>
								</div>
							</div>
							<div class="card-body p-3">

								<div class="form-group">
									<div class="input-group mb-2">
										<div class="input-group-prepend">
											<div class="input-group-text"><i class="fa fa-user text-success"></i></div>
										</div>
										<input type="text" class="form-control" name="username" placeholder="username" v-model="username" required>
									</div>
								</div>

								<div class="form-group">
									<div class="input-group mb-2">
										<div class="input-group-prepend">
											<div class="input-group-text"><i class="fas fa-key text-success"></i></div>
										</div>
										<input type="password" class="form-control" name="password" placeholder="password" v-model="password" required>
									</div>
								</div>

								<div class="text-center">
									<input type="submit" value="Sign Up" class="btn btn-success btn-block rounded-0 py-2">
								</div>

							</div>
						</div>
					</form>
					<div v-if="notSamePasswords" id="advice">
						<h3 class="text-center"> Not Matching </h3>
					</div>
				</div>

				</dialog>
			</div>
		</div>
		</dialog>
	</div>
</body>

<!-- <div id="app" v-cloak>

	<h2>Password</h2>

	<div class="password">
		<input :class='{valid:passwordValidation.valid}' :type="passwordVisible ? 'text' : 'password'" v-model="password">
		<button class="visibility" tabindex='-1' @click='togglePasswordVisibility' :arial-label='passwordVisible ? "Hide password" : "Show password"'>
			<i class="material-icons">{{ passwordVisible ? "visibility" : "visibility_off" }}</i>
		</button>
	</div>

	<input type="password" v-model.lazy='checkPassword'>

	<transition name="hint" appear>
		<div v-if='passwordValidation.errors.length > 0 && !submitted' class='hints'>
			<h2>Hints</h2>
			<p v-for='error in passwordValidation.errors'>{{error}}</p>
		</div>
	</transition>

	<div class="matches" v-if='notSamePasswords'>
		<p>Passwords don't match.</p>
	</div>

	<button @click='resetPasswords' v-if='passwordsFilled && !notSamePasswords && passwordValidation.valid'>
		Submit
	</button>

</div> -->

<head>
	<script src="./src/js/bootstrap.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script src="./src/js/main.js"></script>
</head>

</html>
